.menu-scroll{
    position: fixed !important;
    top: -100px !important;
    left: 0;
    height: 70px;
    width: 100% !important;
    z-index: 100 !important;
    -webkit-transition: -webkit-transform .6s ease;
    -moz-transition: -moz-transform .6s ease;
    transition: transform .6s ease;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(-100%);
    transform: translateY(100px);
    background: white !important;
    box-shadow:0px 5px 8px rgba(0,0,0,.3)
}
.pages-header {
    height: 450px;
    position: relative;
    background: url(/wp-content/uploads/2018/10/about-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.top-header {
    .social-header{
        width: auto;
        text-align: right;
        background: $purple;
        max-width: 350px;
        float: right;
        padding: 10px 20px;
        color: $white;
        margin-bottom: 0;

        @include lg {
            text-align: center;
            width: 100%;
            max-width: 100%;
        }

        a{
            background: transparent;
            padding: 8px;
            border-radius: 50%;
            border: 1px solid $white;
        }

        i{
            font-size: 20px;
           color: $white;
           vertical-align: text-top;
        }

        .underline a{
            line-height: 30px;
            vertical-align: baseline;
            background: none;
            color: $white;
            text-transform: uppercase;
            font-size: 17px;
            letter-spacing: 1px;
            border: none;
        }
    }
}
.navbar.navbar-light {
    
    .navbar-brand {
        color: $purple;
        font-size: 30px;
        font-weight: bold;
        
        img{
            width: 180px;
            
            @include lg { 
                width: 80px;
            }
        }
    }

        .navbar-collapse{
            flex-wrap: wrap;
            
            .nav-link {
                color: $black;
                border: none;
                padding: 0;
                margin-left: 20px;
                margin-right: 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-bottom: 2px solid transparent;
    
                &:hover {
                    border-bottom: 2px solid $purple !important;
                     
                }
            }
            .current-menu-item {
                a {
                    border-bottom: 2px solid $purple !important;
                }
            }
        }
        
    
}